.searchForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.searchBar {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-bottom: 6px;
  text-align: center;
  margin-top: 10px;

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.searchButton {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 10px;
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 20px;
}

.foodDescription {
  padding-top: 20px;
  font-weight: 600;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.messageTextFailure {
  color: red;
}

.messageTextSuccess {
  color: green;
}

.toolTip {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loadingMessage {
  margin-top: 10px;
}

.filterList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.filterLabel {
  margin-left: 10px;
}

.nutrients {
  margin: 0;
  padding-top: 10px;
  width: 100%;
}

.nutrient {
  font-size: large;
  padding: 3px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
